extends layout

block content
  .frame
      .player(data-contenturi='mgid:cms:video:nick.com:920786')
      .thumbnails-container
        .progress
        .cursor
        .thumb-indicator
      .comment-containers
        .comment-box-buffer
          img
          .comment-content
            .user
              a.name
              | at
              a.position(href='#')
            .text
        .comment-box
      .comment-form
        img
        .comment-content
          div
            | Comment at
            a.new-comment-position 1:10
          form#comment
            input(placeholder='Leave your contextual comment here')
            .button-post Post

  script.
    $(".button-post").click(function(){
      console.log("posting");
      event.preventDefault();
      var data = {
          mgid: "test",
          posted: (new Date()).getTime(),
          fbid: app.userId,
          name: 'Claudio Brandolino',   
          position: app.newCommentPosition,
          text: $(this).children("input").val()
      };
      app.appendComment(_.extend(data, {_id: 1}))
      $('.comment-containers').show()
      $('.comment-form').hide()
            app.showComment(1)

      console.log(data);
      $.ajax({
        url:"/post-comment",
        type:"POST",
        dataType: 'json',
        data:data,
        success:function (res)
        {
            $("#comment input").html("Posted");
        }
      });
    });

    $("#comment").submit(function(){
      console.log("posting");
      event.preventDefault();
      var data = {
          mgid: "test",
          posted: (new Date()).getTime(),
          fbid: app.userId,
          name: 'Claudio Brandolino',   
          position: app.newCommentPosition,
          text: $(this).children("input").val()
      };
      app.appendComment(_.extend(data, {_id: 1}))
      app.comments.push(_.extend(data, {_id: 1}))
      $('.comment-containers').show()
      $('.comment-form').hide()
      app.showComment(1)

      console.log(data);
      $.ajax({
        url:"/post-comment",
        type:"POST",
        dataType: 'json',
        data:data,
        success:function (res)
        {
            $("#comment input").html("Posted");
        }
      });
        // call the API
        var obj = {
          method: 'feed',
          link: 'http://localhost.mtv.de:3000#' + 1,
          name: 'Claudio commented on ' + app.niceTime(app.newCommentPosition),
          caption: data.text,
        };

        function callback(response) {
          console.log(response);
        }

        FB.ui(obj, callback);

    });

    $("#getdb").click(function(){
      console.log("trying to get");
      $.ajax({
        dataType: "json",
        type: "GET",
        url: "/get-comment?mgid="+"test",
        success: function(res){
          console.log(res);
        }
      });
    });