extends layout

block content
  .container
      .frame
          .player(data-contenturi='mgid:cms:video:nick.com:920786')
          .thumbnails-container
            .progress
            .cursor +
            .thumb-indicator
          .comment-containers
            .comment-box-buffer
              img
              .comment-content
                .user
                  a.name
                  | at
                  a.position(href='#')
                .text
            .comment-box
          .comment-form
            img
            .comment-content
              div
                | Comment at
                a.new-comment-position 1:10
              form#comment
                input(placeholder='Leave your contextual comment here')
                button Share

  script.
    $("#comment").submit(function(){
      console.log("posting");
      event.preventDefault();
      var data = {
          mgid: "test",
          posted: (new Date()).getTime(),
          fbid: 1234,
          name: 'hello',   
          position: app.newCommentPosition/10.0,
          text: $(this).children("input").val()
      };
      console.log(data);
      $.ajax({
        url:"/post-comment",
        type:"POST",
        dataType: 'json',
        data:data,
        success:function (res)
        {
            $("#comment input").html("Posted");
        }
      });
    });

    $("#getdb").click(function(){
      console.log("trying to get");
      $.ajax({
        dataType: "json",
        type: "GET",
        url: "/get-comment?mgid="+"test",
        success: function(res){
          console.log(res);
        }
      });
    });