extends layout

block content
  .frame
      .player(data-contenturi='mgid:cms:video:nick.com:920786')
        .thumbnails-container
          .cursor +
      .comment-containers
        .comment-box-buffer
          img
          .user
            .name
            | at
            a.position
          .text
        .comment-box


  form#comment
    input(placeholder="comment")

  button#getdb
    | GET COMMENTS
  script.
    $("#comment").submit(function(){
      console.log("posting");
      event.preventDefault();
      var data = {
          mgid: "test",
          posted: (new Date()).getTime(),
          fbid: 1234,
          name: 'hello',   
          position: 0,
          text: $(this).children("input").val()
      };
      console.log(data);
      $.ajax({
        url:"/post-comment",
        type:"POST",
        dataType: 'json',
        data:data,
        success:function (res)
        {
            //resHandler(res);
        }
      });
    });

    $("#getdb").click(function(){
      console.log("trying to get");
      $.ajax({
        dataType: "json",
        type: "GET",
        url: "/get-comment?mgid="+"test",
        success: function(res){
          console.log(res);
        }
      });
    });