doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/claudio.css')
    script(src="/javascripts/jquery-2.1.0.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(src="/javascripts/underscore-min.js")
    //- script(src="http://media.mtvnservices.com/player/api/2.10.0/api.min.js")
    script(src="/javascripts/mtvapi.min.js")
    script(src="/javascripts/main.js")
  body
  .container
    #logo
    form#search.form-group
      input.form-control(type="text", placeholder="Search")
    block content
  footer
    script(src="javascripts/hack.js")